<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<title>Water Consumption</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.water6
{
background: url("{% static 'water.jpg' %}");
        background-size: 100% 100%;
        }
.water5{
background: url("{% static 'water5.png' %}");
        background-size: 100% 100%;
        height: 200px;

        }
        .water1{
background: url("{% static 'water1.jpg' %}");
        background-size: 100% 100%;
        height: 200px;

        }
        .water2{
background: url("{% static 'water3.jpg' %}");
        background-size: 100% 100%;
        height: 200px;

        }.water3{
background: url("{% static 'water0.jpg' %}");
        background-size: 100% 100%;
        height: 200px;

        }.water4{
background: url("{% static 'water4.jpg' %}");
        background-size: 100% 100%;
        height: 200px;

        }

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">HOME</a>

  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'user_logins' %}">USERS LOGIN</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'user_registers' %}">USERS REGISTRATIONS</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'admin_login' %}">ADMIN LOGIN</a>


</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="font-family:Aldrich">WATER CONSUMPTION</h1>
      <p style="font-family:Aldrich">Water is an essential element for the uses of households,indu try, and agriculture. Jordan, as several other countries in the  world, suffers from water scarcity, which poses a threat that would affect all sectors that depend on the availability of water for the sustainability of activities for their development and
prosperity </p>
    </div>
    <div class="w3-third w3-container">
      <p class="water1"></p>
      <p class="water 2"></p>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="font-family:Aldrich">SAVE WATER</h1>
      <p style="font-family:Aldrich">There are two ways in which we can classify our water use. One type is in-stream use; this includes hydroelectric power, boating and swimming, for example. While in-stream activities do not use up the water, they can degrade the water quality through pollution. The other type of water use is the withdrawal of water, and this classification includes household use, industry use, irrigation, livestock watering and thermal and nuclear power. Most withdrawals are consumptions, meaning that the activity uses the water and does not return it to the source.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="water3"></p>
      <p class="water4"></p>
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="font-family:Aldrich">THE STATISTICS SAY WHAT???</h1>
      <p style="font-family:Aldrich">The statistics from the Organisation for Economic Co-operation and Development (OECD), as shown in the following graph, say that in 2004 the average Canadian used 1420 m 3 of water. That is equal to the amount that would flow from your kitchen tap if you left it running for almost three months! Among the countries that are OECD members, Canada had the second greatest consumption per capita, second only to the United States, where the average person used 1730 m 3 of water! The numbers that are given in the following graph include water consumption for agricultural and industrial operations, as well as for residential use.</p>
    </div>
    <div class="w3-third w3-container">
     <p class="water5"></p>
      <p class=" water6 "></p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">

    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4 style="font-family:Aldrich">A Data Mining based Model for Detection of
Fraudulent Behaviour in Water Consumption</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.safewater.org/fact-sheets-1/2017/1/23/water-consumption" target="_blank">waterconsumption.com @2019</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
